<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BankrAI.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>F571CA0FA0D7B5B9907096E09085BC83F46CBCF7</string>
				<key>dateExpires</key>
				<string>21/08/2026</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>3836.1754411919</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F571CA0FA0D7B5B9907096E09085BC83F46CBCF7</string>
						<key>dateExpires</key>
						<string>21/08/2026</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>LinkKit.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>G93ZYMZQQK</string>
						<key>name</key>
						<string>Get-Supportive, Inc.</string>
					</dict>
					<key>versionNumber</key>
					<string>6.4.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>0.12.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F571CA0FA0D7B5B9907096E09085BC83F46CBCF7</string>
						<key>dateExpires</key>
						<string>21/08/2026</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>hermes.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>G93ZYMZQQK</string>
						<key>name</key>
						<string>Get-Supportive, Inc.</string>
					</dict>
					<key>versionNumber</key>
					<string>0.12.0</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>G93ZYMZQQK.com.supportive.bankrai</string>
				<key>beta-reports-active</key>
				<true/>
				<key>com.apple.developer.associated-domains</key>
				<array>
					<string>applinks:bankrai.app</string>
				</array>
				<key>com.apple.developer.team-identifier</key>
				<string>G93ZYMZQQK</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>BankrAI.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>0d663b0b-71cb-4fe2-a5ff-05304fea7bc8</string>
				<key>dateExpires</key>
				<string>21/08/2026</string>
				<key>name</key>
				<string>iOS Team Store Provisioning Profile: com.supportive.bankrai</string>
			</dict>
			<key>symbols</key>
			<true/>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>G93ZYMZQQK</string>
				<key>name</key>
				<string>Get-Supportive, Inc.</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0.0</string>
		</dict>
	</array>
</dict>
</plist>
